* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --button-color: #ef3636;
    --text-hover-color: #ef3636;
    --color-main: #626262;
}