* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --button-color: #ef3636;
    --text-hover-color: #ef3636;
    --color-main: #626262;
}

.logo {
    margin-top: 4em;
    margin-left: 4.5em;
}

.text-0 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 20px;
}

.fa-headphones-alt {
    font-size: 2rem;
    margin-left: 9rem;
    margin-top: 2em;
}

.layer-2 {
    left: -8%;
}

.contact {
    margin-top: 3.5em;
    margin-left: 0.5em;
}

.text-1 {
    font-size: 1em;
    font-weight: bold;
    color: var(--color-main);
}

.text-2 {
    font-weight: bold;
    font-size: 1.05em;
}

.search {
    position: relative;
}

.fa-search {
    position: absolute;
    color: var(--button-color);
    left: 2%;
}

.input-header {
    padding: 25px 150px;
}

.input-header:focus {
    border-color: red;
}

.btn-danger {
    position: absolute;
    left: 99%;
}

.icon-list {
    margin-top: 4em;
    margin-left: -12em;
    display: flex;
    justify-content: space-evenly;
}

.fa-user {
    font-size: 1.6rem;
}

.fa-heart {
    font-size: 1.6rem;
}

.fa-shopping-basket {
    font-size: 1.6rem;
}

.XO {
    font-size: 1rem;
}

.menu-little {
    background-color: #ef3636;
    color: white;
    padding: 10px 40px;
}

.item-1 {
    margin-left: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.item-1:hover {
    color: red;
}